.register-form input{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
}
.submit{
    background-color: #202020;
    color: white;
    padding: 10px 0px;
    
}
.register-form{
    margin: 100px 0px;
}