.login-form input{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
}
.submit{
    background-color: #202020;
    color: white;
    padding: 10px 0px; 
}
.submit:hover{
    background-color: #202020;
}
.login-form{
    margin: 100px 0px;
}
.login-btn{
    padding: 8px 20px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 15px;
    margin: 25px;
    background-image: linear-gradient(#202202ad,#d4c7c78e);

}