.single-service img{
    width: 90px;
    height: 100px;
   margin: 0 auto;
   margin-top: 15px;
}
.single-total{
    background-color: #0f2041;
}

.single-service:hover{
    background-color: #0f2041;
    color: white;
}
