.single-service img{
    width: 90px;
    height: 100px;
   margin: 0 auto;
   margin-top: 15px;
}
.single-service{
    color: black;
}
.service-btn{
    background-image:linear-gradient(#a1adc59c,#FF9900);
    padding: 10px 0px;

}

.single-service:hover{
    background-color: #0f2041;
    color: white;
}
