.banner {
  margin: 70px auto;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px;
}
.header-name {
  font-size: 40px;
  letter-spacing: 10px;
  text-align: right;
  /* margin-bottom: 15px; */
  font-weight: 700;
  text-shadow: 0px 4px 5px #ffffcc;
}

.rows {
  /* position: absolute; */
  height: 200px;
}

.box {
  width: 50%;
  /* position: absolute; */
  background-color: #f9a8267c;
  background-image: url('../../../images/head-2.jpg');
  background-size: cover;
  margin: 0 10px;
}

.box2 {
  position: relative;
  right: 50px;
  top: 70px;
  border-top-left-radius: 15%;
  text-shadow: 0px 4px 5px rgba(226, 199, 47, 0.8);
  width: 50%;
  /* margin-top: 20px;
  margin-right: 150px; */
  background-color: #f9a8267c;
  background-image: url('../../../images/head-1.jpg');
  background-size: cover;
  /* margin: 0 10px; */
}
.paragraph {
  font-size: 20px;
  text-align: right;
  color: #f9a826;
}

.banner-img img {
  width: 50%;
  height: 100vh;
  border-radius: 25px;
}

.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .banner-container h1{
    text-align: left;
} */

/* medial query */
@media screen and (min-width: 768px) and (max-width: 900px) {
  .box {
    background-image: url('../../../images/mobile_image.jpeg');
    width: 70%;
    height: 50vh;
    background-size: cover;
    /* reduce light  */
    filter: brightness(70%);
  }
  .rows {
    /* reverse the row using grid*/
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    /* position: absolute; */
  }
  .box2 {
    visibility: hidden;
  }
  .header-name {
    position: relative;
    bottom: 70px;
    font-size: 25px;
    letter-spacing: 7px;
    text-align: center;
  }
}
