.main-title{
    font-size: 30px;
    font-weight: 700;
}
.logout-btn button{
    padding: 0px 20px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 15px;
    background-image: linear-gradient(#202202ad,#d4c7c78e);
}