.footer-input input{
    padding: 10px 35px;
    margin: 5px;
    border-radius: 10px;
}
.footer-input button{
    padding: 5px 20px;
    margin: 5px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 15px;
    color: wheat;
    background-image: linear-gradient(#202202,#5555558e);
}
.footer-container{
    background-color: #20202071;
    border-radius: 25px;
    padding: 35px 0px;
}
.footer-container Row{
    margin: 10px;
}

.latest-section p{
    margin: 5px 0px;
}
.latest-section i{
    padding: 10px;
}

.feature-img img{
    width: 150px;
    margin: 10px;
}

.copyright p{
    padding: 10px 0px;
    font-size: 20px;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.61);
}